<div class="card" style="width: 100%;%">
  <img class="img-thumbnail" src="<%=@food_item.image_url%>" alt="Card image cap" width="100%" height="1000">
  <div class="card-block">
    <h4 class="card-title"><%=@food_item.name%></h4>
    <p class="card-text"><%=@food_item.description%></p>
    <p class="card-text">Price: <%=@food_item.price%></p>
  </div>
  </div>
</div>
